@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.swiper {
  width: 100%;
  max-width: 400px;
  height: 200px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc(100% / 2) !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
